html, body , #map { width: 100%; height:100%;overflow-x: hidden;}
body {min-width: 950px;}
/*SYSTEM*/
.cf:before, .cf:after {content: " ";display: table;} .cf:after {clear: both; } .cf {*zoom: 1; }
.loader {position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.loader img {margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

#req_res {padding-top: 10px;}
#req_res.error {color:red; }
#req_res.success {color:green; }

.no_internet {position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;height: 130px; width: 55%; z-index: 100; line-height: 26px; text-align: center;  color: tomato; }
/*END SYSTEM*/

/*MAP*/
#map { position: relative; top: 0; left: 0;min-height: 100%; overflow: hidden;}
/*.ymaps-map.ymaps-i-ua_js_yes {min-height: 0; max-height: 0;overflow: hidden;
-webkit-transition: 
    height .4s ease,
    min-height .4s ease, 
    max-height .4s ease;
-moz-transition: 
    height .4s ease,
    min-height .4s ease, 
    max-height .4s ease;
-ms-transition: 
    height .4s ease,
    min-height .4s ease, 
    max-height .4s ease;
-o-transition: 
    height .4s ease,
    min-height .4s ease, 
    max-height .4s ease;
transition: 
    height .4s ease,
    min-height .4s ease, 
    max-height .4s ease;
    }*/
    .ymaps-map.ymaps-i-ua_js_yes.visible {max-height: 100%; max-height: 100%;}
    .ymaps-glass-pane.ymaps-events-pane {
     -webkit-box-shadow: 0 0 360px 60px #000 inset;
     -moz-box-shadow: 0 0 360px 60px #000 inset;
     box-shadow: 0 0 360px 60px #000 inset;
 }
 .map-button {width: 100px;
    height: 100px;background: red;}
    .map-button-selected {width: 100px; height: 100px;background: green;}
    /*END MAP*/

    label {
        display: block;
        width: 100%;
    }
    /*HEADER*/
    .header_main {position: relative; width: 100%;height: 50px;} 
    .header_main .main-menu {padding: 0;}
    .header_main .main-menu .main-menu-ul {text-align: center;}
    .header_main .main-menu .item { padding: 5px; margin-right: 6px; border:6px solid lightblue; border-radius: 3px; display: inline; background: #fff; list-style: none;line-height: 44px; }

    .header_main .register {position: absolute;right: 10px; top: 0;}
    .header_main .register .item {float: left; list-style: none; padding-left: 10px;}
    .header_main .register .item .popap {
        position: absolute;
        z-index: 6000;
        opacity: 0;
        top: 50px;
        left: auto;
        right: -600px;
        /*margin-right: 100px;*/
        width: 500px;
        background: #fff;
        -webkit-transition: 
        opacity .4s ease,
        right .4s ease;
        -moz-transition: 
        opacity .4s ease,
        right .4s ease;
        -ms-transition: 
        opacity .4s ease,
        right .4s ease;
        -o-transition: 
        opacity .4s ease,
        right .4s ease;
        transition: 
        opacity .4s ease,
        right .4s ease;
        -webkit-box-shadow: -2px 4px 3px 1px rgba(0,0,0,0.4);
        -moz-box-shadow: -2px 4px 3px 1px rgba(0,0,0,0.4);
        box-shadow: -2px 4px 3px 1px rgba(0,0,0,0.4);
    }
    .header_main .register .item.active .popap {opacity: 1; right: -250px;}

    /*END HEADER*/

    /*POPAP*/
    .popap {
        color: #000;
        padding: 20px;
    }
    .popap .container {
        width: 220px;
    }
    .popap .container input {margin:0 10px 10px 0;}
    /*END POPAP*/

    /*CONTENT*/
    .content {position: relative; width: 100%; height: 100%;}
    /*END CONTENT*/

    /*FOOTER*/
    .footer {position: relative; height: 50px; text-align: center; line-height: 50px;}
    /*END FOOTER*/

    .map_btn_wrapper,.map_btn_wrapper .btn {}
    .map_btn_wrapper {
        position: absolute;
        z-index: 10;
    }
    .map_btn_wrapper.btn_center {
        top: 5px;
        left: 140px;
    }

    /* Оформление меню (начало)*/
    .menu {
        position: absolute;
        width: 180px;
        top: 50px;
        right: 8px;
        list-style: none;
        background: #fff;
        margin: 0;
        padding: 10px;
        border-radius: 2px;
    }
    .submenu {
        list-style: none;

        margin: 0 0 0 20px;
        padding: 0;
    }
    .submenu li {
        font-size: 90%;
    }
    /* Оформление меню (конец)*/


    /*MyTemplates*/
    .ymaps-b-balloon {
        min-width: 180px !important;
        /*height: auto !important;*/

        /*max-height: 300px;*/
    }
    .ymaps-b-balloon__content > ymaps {
        min-width: 180px !important;
        /*min-height: 150px !important;*/
        /*height: auto !important;*/
        /*max-height: 300px;*/
    }
    .ymaps-b-balloon__content .instructors_dropdown {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .active {
        color:red;
        /*background: green;*/
    }
    .active .js_showSubmenu {
        color:red;
    }

    .instructor_in_dropdown .js_submenu {
        padding: 12px 10px 10px 28px;
        list-style: disc;
        position: absolute;
        width: 200px;
        /*height: 100%;*/
        opacity: 1;
        max-height: 60%;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        background: #fff;
        overflow: hidden;
        word-break: break-word;
        color: #333;
        border-radius: 3px;
        -webkit-transition: 
        opacity .4s ease,
        max-height .3s ease,
        left .4s ease,
        right .4s ease;
        -moz-transition: 
        opacity .4s ease,
        max-height .3s ease,
        left .4s ease,
        right .4s ease;
        -ms-transition: 
        opacity .4s ease,
        max-height .3s ease,
        left .4s ease,
        right .4s ease;
        -o-transition: 
        opacity .4s ease,
        max-height .3s ease,
        left .4s ease,
        right .4s ease;
        transition: 
        opacity .4s ease,
        max-height .3s ease,
        left .4s ease,
        right .4s ease;
        z-index: -1;
    }
    .instructor_in_dropdown.active .js_submenu {
        left:98%;
        right: auto;
        opacity: 1;
        max-height: 200px;
    }

/*.hidden { opacity: 0;height: 0; padding: 0; margin: 0;}*/